*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #252839;
}
.container h1{
    font-size: 60px;
    color: #fff;
    font-weight: 500;
}
.wrapper{
    display: inline-flex;
}
.fixed-text{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.moving-text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.moving-text li{
    color: #01fe87;
    list-style: none;
    font-size: 60px;]
    font-weight: 500;
    position: relative;
    top: 0;
    animation:move 6s steps(4) infinite ;
}
@keyframes move {
    100%{
        top: -360px;
    }
}
.moving-text li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343f4f;
    border-left: 2px solid #01fe87;
    animation: type 1.5s steps(10) infinite;
}
@keyframes type{
    100%{
        left: 100%;
        margin: 0 -35ps 0 35px;
    }
}